.feed_wrapper {
  background-color: white;
  max-height: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 500px;
}

.feed_header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.feed_user_info {
  display: flex;
}

.feed_user_img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.feed_name_and_title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 10px;
}

.feed_date {
  margin-right: 10px;
  margin-top: 10px;
}

.ql-editor img {
  max-width: 100%;
  border-radius: 5px;
  text-align: center;
}

.feed_menu {
  display: flex;
  padding: 10px 10px 5px 15px;
}

.feed_menu_comments {
  cursor: pointer;
  display: flex;
}

.feed_menu_like {
  display: flex;
}

.feed_like_icon {
  margin-top: -3px;
  margin-left: 10px;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.post_headerinfo {
  position: relative;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon_anime1 :hover {
  cursor: pointer;
}

.icon_anime2 {
  cursor: pointer;
  animation: zoomin_out 0.4s;
  animation-fill-mode: forwards;
}

@keyframes zoomin_out {
  0% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoomout_in {
  100% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  0% {
    transform: scale(1, 1);
  }
}

div::-webkit-scrollbar {
  display: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

@media (max-width: 915px) {
  .feed_wrapper {
    width: 90vw;
    height: 30vh;
  }
}
