.vote_wrapper {
  position: absolute;
  padding: 10px;
  border: 1px solid lightgray;
  width: 180px;
  height: 210px;
  text-align: left;
  top: 300px;
  right: -200px;
}

.vote_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.vote_createBtn {
  background-color: white;
}

.vote_title {
  margin-left: 60px;
  text-align: center;
  margin-bottom: 5px;
}

.vote_list {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.vote_subject {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.vote_subject:hover {
  background-color: gray;
  color: white;
}

.vote_popup {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 1px solid lightgray;
  border-radius: 10px;
  top: -200px;
  left: -550px;
  background-color: white;
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.vote_popup_closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  font-size: 18px;
}

.vote_popup_title {
  text-align: center;
}

.vote_popup_options {
  margin: 80px 0px 20px 0px;
}

.vote_popup_option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.vote_popup_name_and_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote_popup_option_name {
  font-size: 18px;
  font-weight: 600;
}

.vote_popup_selectBtn {
  background-color: white;
  border: 1px solid lightgray;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.vote_popup_selectBtn:hover {
  background-color: gray;
  color: white;
}

.vote_popup_option_bar {
  width: 500px;
  height: 8px;
  border-radius: 10px;
  background-color: gray;
}

.vote_popup_option_count {
  font-size: 14px;
  font-weight: 500;
}

.vote_popup_submitBtn {
  background-color: white;
  border: 1px solid lightgray;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.vote_popup_submitBtn:hover {
  background-color: lightgray;
  color: white;
}

@media (max-width: 915px) {
  .vote_wrapper {
    display: none;
  }
}
