.feedview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedview-content {
  background-color: white;
  width: 900px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.feedview-header {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  background-color: white;
}

.feedview-header-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.feedview-header-name {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  gap: 10px;
}

.feedview-header-name p {
  font-size: 18px;
  font-weight: 700;
}

.feedview-header-name span {
  font-size: 24px;
  font-weight: 500;
}

.feedview-header-date {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}

.feedview-menus {
  display: flex;
  padding: 10px 10px 5px 15px;
  gap: 10px;
}

.feedview-menu {
  display: flex;
  align-items: center;
  gap: 5px;
}

.feed_click :hover {
  cursor: pointer;
}

.post__text {
  position: relative;
  margin-top: -2px;
  font-weight: normal;
  height: 10%;
  padding: 3px 10px;
  text-align: right;
}

.post_header h3 {
  position: relative;
  margin-top: -10px;
}

.timeline {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

.post_headerinfo {
  position: relative;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon_anime1 :hover {
  cursor: pointer;
}

.icon_anime2 {
  cursor: pointer;
  animation: zoomin_out 0.1s;
  animation-fill-mode: forwards;
}

@keyframes zoomin_out {
  0% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoomout_in {
  100% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  0% {
    transform: scale(1, 1);
  }
}

div::-webkit-scrollbar {
  display: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.feedview-comment {
  padding: 10px 15px;
  width: 100%;
  border-color: #ccc #ddd #ddd #ccc;
}

.feedview-comment textarea {
  width: 100%;
  margin-top: 5px;
  border-color: #ccc #ddd #ddd #ccc;
  border-radius: 3px;
  box-shadow: inset 1px 1px 4px rgb(0 0 0 /6%);
  padding: 5px;
  font-size: 15px;
}

.feedview-comment textarea::placeholder {
  font-size: 15px;
}

.feedview-comment-btn {
  background-color: #26a7de;
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}

.feedview-comment-btn:hover {
  background-color: #0b9edd;
}

.comment_list {
  background-color: white;
  border-top: 1px solid lightgray;
  margin: 5px auto;
  display: block;
  overflow: hidden;
}

.comment_list_blank {
  width: 900px;
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px;
}

@media (max-width: 915px) {
  .feedview-content {
    width: 95vw;
  }
  .commenter {
    width: 95vw;
  }
  .comment_list_blank {
    width: 95vw;
  }
}
