.vote_page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  text-align: center;
  max-width: 500px;
  margin-top: 100px;
  position: relative;
}

.vote_page_title {
  text-align: center;
}

.vote_options {
  margin: 80px 0px 20px 0px;
}

.vote_option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.vote_name_and_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote_option_name {
  font-size: 18px;
  font-weight: 600;
}

.vote_selectBtn {
  background-color: white;
  border: 1px solid lightgray;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.vote_selectBtn:hover {
  color: white;
}

.vote_option_bar {
  width: 500px;
  height: 8px;
  border-radius: 10px;
  background-color: gray;
}

.vote_option_count {
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}

.vote_submit {
  background-color: rgb(11, 128, 11);
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.vote_submit:hover {
  background-color: rgb(1, 55, 1);
  color: white;
}

.vote_nft_popup {
  position: absolute;
  top: -40px;
  width: 600px;
  height: 600px;
  padding: 30px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
}

.vote_nft_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote_nft_title {
  font-size: 24px;
  font-weight: 600;
}

.vote_nft_close_btn {
  font-size: 24px;
  position: absolute;
  right: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.vote_nft_imgs {
  display: flex;
  gap: 10px;
  padding: 30px;
  flex-wrap: wrap;
}

.vote_nft_img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.vote_count_img {
  width: 28px;
  height: 28px;
  border-radius: 5px;
}

.vote_nft_img:hover {
  opacity: 0.5;
}

.vote_delete {
  background-color: tomato;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.vote_delete:hover {
  background-color: red;
}

.vote_menus {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .vote_nft_popup {
    width: 90vw;
    height: 600px;
    padding: 50px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
  }

  .vote_nft_title {
    font-size: 18px;
  }

  .vote_nft_close_btn {
    right: 20px;
  }

  .vote_nft_img {
    width: 17vw;
    height: 17vw;
    border-radius: 10px;
    cursor: pointer;
  }
}
