.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

.login-left {
  width: 500px;
  height: 500px;
}

.nft-box-row {
  display: flex;
}

.nft-box {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-box-inner {
  width: 6px;
  height: 6px;
  border: 1px solid lightgray;
}

.nft-box:hover {
  background-color: pink;
}

.nft-box-blank {
  width: 10px;
  height: 10px;
  border: 0.5px solid lightgray;
  background-color: lightgray;
}

.nft-box-blank:hover {
  background-color: pink;
}

.nft-box-link {
  width: 10px;
  height: 10px;
  position: relative;
}

.nft-box-img:hover {
  opacity: 0.6;
}

.login-service-wrapper {
  background-color: lightgray;
  padding: 50px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-service-logo {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.login-service-title {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 915px) {
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
