.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-left {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.nft-box-row {
  display: flex;
}

.nft-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.nft-box:hover {
  background-color: lightgray;
}

.login-service-wrapper {
  background-color: lightgray;
  padding: 50px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-service-logo {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.login-service-title {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 915px) {
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
