.popup_wrapper {
  position: fixed;
  width: 400px;
  height: 140px;
  left: 30vw;
  top: 20vh;
  border: 1px solid black;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  z-index: 1000;
}

.popup_title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.popup_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.popup_btn {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.popup_btn:hover {
  background-color: black;
  color: white;
}

@media (max-width: 915px) {
  .popup_wrapper {
    left: 25vw;
  }
}

@media (max-width: 650px) {
  .popup_wrapper {
    left: 10vw;
  }
}

@media (min-width: 1200px) {
  .popup_wrapper {
    left: 40vw;
  }
}
