.post {
    width: 805px;
    border-radius: 10px;
    margin-bottom: 45px;
    display: inline-block;
  }
  .post_image {
    display: flex;
    background-color: white;
    width: 100%;
    min-height: 500px;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border-right: 1px solid lightgray;
  }

  .post_image img{
    width: 100%;
    margin: auto;
  }

  .post__text {
    position: relative;
    margin-top: -2px;
    font-weight: normal;
    height: 10%;
    padding: 3px 10px;
    text-align: right;
  }
  .post_header {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
    border-bottom: 3px solid lightgray;    
    border-right: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
  }
  .post_avatar {
    position: relative;
    margin-top: -15px;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    margin-right: 5%;
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .post_avatar img{
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
  }

  .post_header h3{
    position: relative;
    margin-top: -10px;
  }

  .timeline {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
  }

  .clickable{
    cursor: pointer;
  }

  .post_headerinfo{
    position: relative; 
    marginTop: -10px;
    marginLeft: 20px;
    marginRight: 20px;
  }

  .icon_anime1 :hover{
    cursor: pointer;
  }

  .icon_anime2 {
    cursor: pointer;
    animation: zoomin_out 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes zoomin_out {
    0%{
      transform: scale(1.2,1.2);
    }
    50%{
      transform: scale(1.1,1.1);
    }
    100%{
      transform: scale(1,1);
    }
  }

  @keyframes zoomout_in {
    100%{
      transform: scale(1.2,1.2);
    }
    50%{
      transform: scale(1.1,1.1);
    }
    0%{
      transform: scale(1,1);
    }
  }

  div::-webkit-scrollbar {
    display: none;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
  