.profile_post_wrapper {
  width: 270px;
  height: 270px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0px 10px;
  text-align: center;
  line-height: 270px;
  cursor: pointer;
}

.profile_post_wrapper:hover {
  background-color: lightgray;
}

.profile_post_title {
  font-size: 24px;
  font-weight: 600;
}

.profile_post_detail {
  font-size: 18px;
  font-weight: 600;
}
