.profile-container{
    margin: 2% auto;
}

.profile-wrapper{
    max-width: 975px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.profile-info{
    margin: 0 2%;
}

.profile-about{
    text-align: left;
}

.profile-text{
    margin: 8%;
    margin-left: 0;
    margin-right: 8%;
    display: flex;
}

.profile-text h3{
    margin-left: 0;
    margin-right: 8%;
    text-align: left;
}

.profile-post h4{
    display: flex;
    margin: 2% auto;
    justify-content: center;
}

.profile-post{
    display: flex;
    text-align: left;
    margin: 0;
}

.profile-post img{
    margin: 0 1.7%;
}

.clickable{
    cursor: pointer;
}

.clickable-img:hover{
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
    filter: grayscale(100%);
}

.clickable-img:hover .description{
    opacity: 1;
    font-size: 2em;
    color: white;
}

.description{
 position: relative;
 top: -250px;
 font-size: 0em;
 opacity: 0;
}

.clickable-input{
cursor: pointer;
font-size:16px;
padding:0 16px; 
margin:auto 5%;
background-color:white;
border:0; 
border-radius:2pt;
box-shadow:0 0 0 1px lightgray;
}

.clickable-input:hover{
    background-color: skyblue;
}